<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文字翻譯工具</title>
</head>
<body>
    <form action="/index/" method="post">
        {%  csrf_token %}
        <p>請選擇翻譯語言:</p>
        <select name="language" size="4" multiple="False">
            <option value="l1" selected="True">英翻中</option>
            <option value="l2" selected="False">中翻英</option>
            <option value="l3" selected="False">日翻中</option>
            <option value="l4" selected="False">中翻日</option>
        </select>  
        <p>翻譯的文字:</p>
        <p><input type="text" name="word"></p>
        <p><input type="submit"></p>       
    </form>
    <h2>結果:{{  text }}</h2>
    
</body>
</html>